@media (min-width: 1px) and (max-width: 768px){
	#menu{
		font-family: 'Poppins', sans-serif;
		flex-direction: column;
		background-color: #22696B;
		text-decoration: none;
		color: white;
		width: 100%;
		padding: 20px;			
	}

	#menu:hover{
		color: #6FBDBC;	
		background-color: #3F3F3F;
	}

	#nav.flex-container{
		flex-direction: column;
	}

	.menu-nav{
		display: none;		
	}

	#nav{
		padding: 0;	
		background-color: #3F3F3F;	
		font-family: 'Poppins', sans-serif;				
	}

	#nav a{
		text-decoration: none;
		border-bottom: 2px solid black;
		padding: 20px 8%;
		color: white;
	}

	#nav a:hover{
		color:  #6FBDBC; 
	}

}

@media (min-width: 768px){
	#menu{
		display: none;
	}
}